dotenv
PATH_add devops/bin
export PROJECT=project-template
export AWS_DEFAULT_REGION=eu-west-1
export KOPS_STATE_STORE=s3://clusters.codefiction.io
export KUBECONFIG=$(pwd)/.kube/config
export HOSTED_ZONE_ID=/hostedzone/Z1E5XKKNEJ0F2O
