{
  "env": {
    "test": {
      "plugins": [
        [
          "file-loader",
          {
            "publicPath": "/static/build",
            "outputPath": "/dist/static/build"
          }
        ]
      ]
    }
  },
  "presets": ["next/babel", "env"],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    ["transform-inline-env-vars", {
      "include": [
        "NODE_ENV",
        "SENTRY_PUBLIC_DSN",
      ]
    }],
    "emotion",
    "transform-class-properties",
    [
      "inline-import",
      {
        "extensions": [".css"]
      }
    ]
  ],
  "ignore": []
}
